:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
  }
  .navbar {
    padding: 20px 0;
  }
  
  .navbar-brand {
    font-family: var(--heading-font-family);
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-link {
    color: #272142 !important;
  }
  
  .nav-link.active {
    color: var(--branding-color) !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  .about-section {
    padding: 160px 20px;
  }
  
  .about-section h1 {
    font-size: 64px;
    line-height: 80px;
  }
  
  .about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
  }
  
  .about-section-content {
    margin: 30px;
  }
  
  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-decoration: none;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 960px) {
    .about-section {
      padding: 60px 20px;
    }
  
    .about-section h1 {
      font-size: 44px;
      line-height: 56px;
    }
  
    .about-section-content {
      text-align: center;
      margin: 0;
    }
  }
  
.footer-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 30px;
  }
  
  .work-inquiry {
    background: #F9F7FE;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inquiry-content h3 {
    font-size: 34px;
    margin: 0;
  }
  
  .inquiry-content p {
    margin: 10px 0;
    opacity: 0.7;
  }
  
  .contact-link {
    background: #6C63FF;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .social-links {
    text-align: center;
    margin: 40px 0;
  }
  
  .social-links a {
    margin: 0 20px;
    color: #6C63FF;
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
  }
  
  .social-links a:hover {
    color: white;
    background: #6C63FF;
  }
  
  .open-source {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
  }
  
  @media (max-width: 768px) {
    .work-inquiry {
      flex-direction: column;
      text-align: center;
    }
    
    .inquiry-button {
      margin-top: 20px;
    }
  }